<div class="js-kwc-wrapper">

    {% set translationType = categories | length ? 'with_categories' : 'only_technical' %}
    <div class="js-kwc-description">
        {{ ('banner.description.'~translationType) | trans({},'KikwikCookieBundle') | raw }}<br/>
        {% if cookie_url %}
            {{ 'banner.information.cookie' | trans({
                '%cookie%': 'banner.btn.cookie'|trans({},'KikwikCookieBundle')
            },'KikwikCookieBundle') | raw }}
        {% endif %}
        {% if privacy_url %}
            {{ 'banner.information.privacy' | trans({
                '%privacy%': 'banner.btn.privacy'|trans({},'KikwikCookieBundle')
            },'KikwikCookieBundle') | raw }}
        {% endif %}
        {% if cookie_url or privacy_url %}<br/>{% endif %}
        {{ ('banner.instructions.'~translationType) | trans({
            '%accept%': 'banner.btn.accept'|trans({},'KikwikCookieBundle'),
            '%deny%': 'banner.btn.deny'|trans({},'KikwikCookieBundle')
        },'KikwikCookieBundle') | raw }}
    </div>
    <div class="js-kwc-actions">
        {% if cookie_url %}
            <a href="{{ cookie_url }}" class="js-kwc-btn-policy-cookie {{ bannerClasses.btnCookie }}">{{ 'banner.btn.cookie'|trans({},'KikwikCookieBundle') }}</a>
        {% endif %}
        {% if privacy_url %}
            <a href="{{ privacy_url }}" class="js-kwc-btn-policy-privacy {{ bannerClasses.btnPrivacy }}">{{ 'banner.btn.privacy'|trans({},'KikwikCookieBundle') }}</a>
        {% endif %}
        <br/>

        <a href="{{ path('kikwik_cookie_accept') }}" class="js-kwc-btn-accept {{ bannerClasses.btnAccept }}" role="button">{{ 'banner.btn.accept'|trans({},'KikwikCookieBundle') }}</a>

        {% if categories | length %}
            <a href="{{ path('kikwik_cookie_deny') }}" class="js-kwc-btn-deny {{ bannerClasses.btnDeny }}" role="button">{{ 'banner.btn.deny'|trans({},'KikwikCookieBundle') }}</a>
            {#            <a href="#" class="js-kwc-btn-choose {{ bannerClasses.btnChoose }}">{{ 'banner.btn.choose'|trans({},'KikwikCookieBundle') }}</a>#}
        {% endif %}
    </div>


</div>